{% extends 'base.html' %} {% block content %}
<style>
    .menu-label {
        color: rgb(88, 233, 69);
        font-size: 20px;
    }
</style>

<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <aside class="menu">
            <p class="menu-label">
                <b>使用者</b>
            </p>
            <ul class="menu-list">
                <li>{{user.username}}</li>
            </ul>
            <p class="menu-label">
                <b>信箱</b>
            </p>
            <ul class="menu-list">
                <li>{{user.email}}</li>
            </ul>
            <p class="menu-label">
                <b>註冊時間</b>
            </p>
            <ul class="menu-list">
                <li>{{user.date_joined}}</li>
            </ul>
            <p class="menu-label">
                <b>最後登入時間</b>
            </p>
            <ul class="menu-list">
                <li>{{user.last_login}}</li>

            </ul>
            {% if user.is_superuser %}
            <ul class="menu-list">
                <li>管理者</li>
            </ul>
            {% endif %}
        </aside>
</section>


{% endblock %}