{% extends 'base.html' %} {% block content %}
<section class="hero is-link is-fullheight-with-navbar">
    <div>
        {% for todo in todos %}
        <a href="{%  url 'view' todo.id %}">
            <article class="message is-primary">
                <div class="message-header">
                    {% if todo.completed %}
                    <s>{{todo.title}} </s>
                    {% else %}
                    {{todo.title}}
                    {% endif %}
                    {% if todo.important %}(重要){% endif %}
                    <a href="{% url 'delete' todo.id %}"><button class="button is-danger">刪除</button></a>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}